.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 30px 100px 30px;
}
.top__logo {
  font-size: 40px;
  color: #000080;
}
.top__nav {
  list-style: none;
}
.top__nav li {
  display: inline-block;
  font-size: 25px;
  padding: 15px;
  margin: 0 0 0 auto;
}
a {
  text-decoration: none;
  color: #000080;
  font-weight: bold;
}

.top__img {
  position: relative;
  float: right;
  z-index: 10;
}
.top__text {
  position: absolute;
  font-size: 90px;
  display: block;
  top: 60%;
  z-index: 20;
}
.top__box {
  position: absolute;
  float: left;
  top: 70%;
  width: 80%;
  height: 25vh;
  border: solid 2px #000080;
  background: #000080;
  display: block;
  z-index: -10;
}